.footer-wrapper {
  display: flex;
  direction: column;
  justify-content: center;
  margin: auto;
  max-width: 700px;
}
.footer-wrapper .credits {
  max-width: 300px;
  margin: auto;
}

/* .social-buttons
 *  display: inline-flex
 *  width: min-content
 *  direction: row
 *  margin-bottom: 40px
 *  h5
 *      color: colors.$md-sys-color-inverse-on-surface !important */
@media only screen and (min-width: 992px) {
  .footer-wrapper {
    max-width: 1100px;
  }
  #contact-info {
    margin-left: 30px;
  }
}
body {
  font-size: 17px !important;
}

.content-wrapper {
  max-width: 960px;
  margin: auto;
  gap: 90px;
}

h2 {
  text-align: center;
  margin-bottom: 50px;
}

@media only screen and (min-width: 992px) {
  .content-wrapper {
    max-width: 1200px;
  }
}
.header-intro {
  width: 100% !important;
  height: 600px;
  background-image: url(../../../img/portada.jpg) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}
.header-intro h1 {
  color: #ffffff;
  margin-top: 50px;
}
.header-intro p {
  color: #e1e2ec;
}

#intro-section {
  max-width: 600px;
}
#intro-section .row div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cocina-section {
  width: 100% !important;
  padding-top: 20px;
  padding-bottom: 20px;
}
#cocina-section .cocina-content {
  max-width: 900px;
}

#about-section {
  width: 100%;
  background-color: #eff0fa;
  padding-top: 60px;
  padding-bottom: 60px;
}
#about-section .about-content {
  max-width: 800px;
}
#about-section .about-content p {
  font-size: 1.15rem;
}

.header-intro-contact {
  width: 100% !important;
  height: 400px !important;
  background-color: #d8e2ff;
}
.header-intro-contact h1 {
  margin-top: 50px;
}

.social-container-contact {
  display: flex;
  direction: row;
  justify-content: center;
}
.social-container-contact .social-content-contact {
  display: inline-flex;
  width: min-content;
  direction: row;
  margin-bottom: 40px;
}
.social-container-contact .social-content-contact h5 {
  color: #f2f0f4 !important;
}

#contact-info-section {
  width: 100%;
  margin-top: 0px;
}
#contact-info-section #contact-info-container {
  width: 100%;
  background-color: #eff0fa !important;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 40px;
}
#contact-info-section #contact-info-container #contact-info-desktop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
}
#contact-info-section #contact-info-container #contact-info-desktop .contact-info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.social-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.social-buttons h6 {
  text-align: center !important;
}
.social-buttons .social-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media only screen and (min-width: 768px) {
  #contact-info-section {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #contact-info-section #contact-info-container {
    max-width: 793px;
    height: 500px;
    padding: 0px;
  }
  #contact-info-section #contact-info-container #contact-info-desktop {
    padding: 40px;
  }
  #contact-info-section #contact-info-container #contact-info-desktop .contact-info-content {
    align-items: flex-start;
    gap: 60px;
  }
  .social-buttons h6 {
    text-align: left !important;
  }
}
@media only screen and (min-width: 992px) {
  #contact-info-section #contact-info-container {
    max-width: 893px;
  }
  .social-buttons .social-buttons-container {
    gap: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  #contact-info-container {
    max-width: 1100px !important;
  }
  .social-buttons h6 {
    text-align: left !important;
  }
  .social-buttons .social-buttons-container {
    flex-direction: column;
  }
}
nav {
  background-color: #255cb0;
}
nav a {
  color: #ffffff !important;
}
nav .navbar-toggler {
  color: #ffffff !important;
}

.social-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.social-button a {
  background-color: #fbd7fc;
}
.social-button a i {
  color: #29132d;
}

.intro-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  gap: 20px;
  font-size: 1.1em;
}
.intro-icon img {
  width: 40px;
}

#work-section .card {
  max-width: 20rem;
  min-height: 470px;
}
#work-section .card .card-body {
  padding-top: 15px;
  padding-bottom: 15px;
}

.trust-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
  margin-bottom: 30px;
  padding: 1.2rem;
  background-color: #d8e2ff;
  height: 90%;
}
.trust-item .trust-item-header {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 17px;
}
.trust-item img {
  width: 50px;
}
.trust-item span.lead {
  font-size: 1.15rem;
}

.servicios-content .list-group-item {
  padding: 5px !important;
}

#promotions-card {
  max-width: 90vw;
  background-color: #d8e2ff;
  padding: 1% 5% 5% 5%;
}
#promotions-card .header {
  margin-left: 1.5rem;
  margin-bottom: 40px !important;
}
#promotions-card h2 {
  color: #001a41;
  text-align: left !important;
}
#promotions-card h4 {
  color: #1b1b1f !important;
}
#promotions-card .card-body .card-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
#promotions-card .card-body .card-text span {
  background-color: #715574;
  padding: 0.5rem;
  color: #ffffff;
  font-size: 0.8rem;
}

#map {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 0px;
}
#map iframe {
  margin-left: 0px;
}

@media only screen and (min-width: 397px) {
  #map iframe {
    width: 370px;
    height: 270px;
  }
}
@media only screen and (min-width: 544px) {
  #map iframe {
    width: 500px;
    height: 300px;
  }
}
@media only screen and (min-width: 768px) {
  #map {
    margin-top: 0px;
  }
  #map iframe {
    width: 100% !important;
    height: 500px !important;
  }
}
.contact-info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.contact-info-item i {
  color: #715574;
}
.contact-info-item .contact-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-info-item .contact-details-container .contact-details {
  margin-top: -5px;
  text-align: center !important;
}
.contact-info-item .contact-info-email {
  width: 180px;
  word-wrap: break-word !important;
}

#contact-location-desktop {
  display: flex;
  flex-direction: column;
  align-items: center !important;
}
#contact-location-desktop #location-desktop-icon {
  color: #715574 !important;
}

@media only screen and (min-width: 768px) {
  #contact-info-email {
    text-align: left !important;
  }
  .contact-info-item {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: flex-start;
  }
  .contact-info-item i {
    color: #715574;
  }
  .contact-info-item .contact-details-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -10px;
  }
  .contact-info-item .contact-details-container .contact-details {
    margin-top: -5px;
    text-align: left !important;
  }
  .contact-info-item .contact-info-email {
    width: 180px;
    word-wrap: break-word !important;
  }
  #contact-location-desktop {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 25px;
  }
  #contact-location-desktop #location-desktop-details div:first-of-type {
    margin-top: -5px;
  }
}
#contact-form {
  padding: 0px 2% !important;
}
#contact-form input:-webkit-autofill,
#contact-form input:-webkit-autofill:hover,
#contact-form input:-webkit-autofill:focus,
#contact-form textarea:-webkit-autofill,
#contact-form textarea:-webkit-autofill:hover,
#contact-form textarea:-webkit-autofill:focus,
#contact-form select:-webkit-autofill,
#contact-form select:-webkit-autofill:hover,
#contact-form select:-webkit-autofill:focus {
  background-color: #332D2D !important;
  -webkit-box-shadow: 0 0 0px 1000px #fefbff inset;
  transition: background-color 5000s ease-in-out 0s;
}
#contact-form .form-outline .form-control:focus ~ .form-notch .form-notch-leading {
  border-top: 0.165rem solid #715574 !important;
  border-bottom: 0.165rem solid #715574 !important;
  border-left: 0.165rem solid #715574 !important;
  box-shadow: none !important;
}
#contact-form .form-outline .form-control:focus ~ .form-notch .form-notch-trailing {
  border-top: 0.165rem solid #715574 !important;
  border-right: 0.165rem solid #715574 !important;
  border-bottom: 0.165rem solid #715574 !important;
  box-shadow: none !important;
}
#contact-form .form-outline .form-control:focus ~ .form-notch .form-notch-middle {
  border-top: 0;
  border-bottom: 0.165rem solid #715574 !important;
  box-shadow: none !important;
}
#contact-form .form-outline .form-control ~ .form-notch .form-notch-leading {
  border-radius: 10px 0 0 10px;
}
#contact-form .form-outline .form-control ~ .form-notch .form-notch-trailing {
  border-radius: 0 10px 10px 0;
}
#contact-form label {
  color: #4f4f4f !important;
}

/*# sourceMappingURL=styles.css.map */
