@use "../utils/_colors"

footer
    background-color: colors.$md-sys-color-inverse-surface !important
    .footer-wrapper
        display: flex
        direction: column
        justify-content: center
        margin: auto
        max-width: 1500px
        padding-top: 30px
        .footer-item
            display: flex
            flex-direction: column
            align-items: center
            .footer-item-container
                width: 60%
                .social-buttons
                    width: 100%
                    flex-direction: column
                    align-items: stretch
                    margin-top: 20px !important
                    .footer-heading
                        margin-bottom: 10px !important
                        color: colors.$md-ref-palette-neutral-variant-60
                    .social-buttons-container
                        flex-direction: row
                        width: 100%
                        gap: 10px                            
        #footer-company
            display: flex
            flex-direction: column
            align-items: center
            border-right-width: 1px
            border-right-color: colors.$md-sys-color-on-background-dark
            border-right-style: solid
            .footer-content
                line-height: 40px
        #footer-contact
            display: flex
            flex-direction: column
            align-items: flex-start
        .footer-heading
            color: colors.$md-ref-palette-neutral-40
        hr
            color: colors.$md-sys-color-tertiary
            width: 50px
            border-width: 3px
            opacity: 1
            margin-bottom: 25px
        .footer-content
            line-height: 30px
            .footer-text
                a
                    text-decoration: none !important
                    color: colors.$md-sys-color-on-background-dark !important
            color: colors.$md-sys-color-on-background-dark !important
        .credits
            display: flex !important
            flex-direction: row !important
            justify-content: right !important
            width: 100%
            .credits-wrapper
                width: 300px !important


/* .social-buttons
    display: inline-flex
    width: min-content
    direction: row
    margin-bottom: 40px
    h5
        color: colors.$md-sys-color-inverse-on-surface !important */

@media only screen and (min-width: 992px)
    .footer-wrapper
        max-width: 1100px

    #contact-info
        margin-left: 30px