@use "../utils/_colors"

.content-wrapper
    max-width: 960px
    margin: auto 
    gap: 90px
    //background-color: colors.$md-sys-color-background


@media only screen and (min-width: 992px)
    .content-wrapper
        max-width: 1200px
