@use "../utils/_colors"
@use "../utils/_theme" as theme

body
    font-size: 17px !important
    background-color: theme.$md-sys-color-background
    color: colors.$md-sys-color-on-surface

.content-wrapper
    width: 100%
    gap: 40px
    //background-color: colors.$md-sys-color-background

section
    width: 100%
    padding-top: 60px
    .section-title
        max-width: 320px
        text-align: center
        margin-left: auto
        margin-right: auto
        margin-bottom: 35px

.section-wrapper
    max-width: 960px
    margin-left: auto 
    margin-right: auto

.section-bg
    background-color: theme.$md-sys-color-surface-container
    color: theme.$md-sys-color-on-surface

@media only screen and (min-width: 992px)
    .section-wrapper
        max-width: 1200px
