@use "../../utils/_colors"

#contact-info-section
    width: 100%
    #contact-info-container
        max-width: 1300px
        height: 500px
        background-color: colors.$md-ref-palette-neutral-variant-95 !important
        margin: 0px
        #contact-info-content-desktop
            display: flex
            flex-direction: column
            justify-content: center
            padding: 60px
            .contact-phone-email
                display: flex
                flex-direction: column
                align-content: stretch
                gap: 40px
            .social-buttons
                display: flex
                flex-direction: column
                align-items: center
                width: 100%
                margin-top: 80px !important
                margin-bottom: 0px !important
                .social-buttons-container
                    display: flex
                    flex-direction: row
                    gap: 40px
            #contact-location-desktop
                #location-desktop-content
                    display: flex
                    flex-direction: row
                    justify-content: start
                    gap: 25px
                    //margin-top: -10px
                    #location-desktop-details
                        div
                            &:first-of-type
                                margin-top: -5px


