@use "../../utils/_colors"

#contact-info-section
    width: 100%
    margin-top: 0px
    #contact-info-container
        width: 100%
        background-color: colors.$md-ref-palette-neutral-variant-95 !important
        margin: 0px
        padding-top: 20px
        padding-bottom: 40px
        #contact-info-desktop
            display: flex
            flex-direction: column
            justify-content: center
            padding-top: 30px
            .contact-info-content
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                gap: 30px
            /* .social-buttons
                display: flex
                flex-direction: column
                align-items: center
                width: 100%
                margin-top: 80px !important
                margin-bottom: 0px !important
                .social-buttons-container
                    display: flex
                    flex-direction: row
                    gap: 40px */

.social-buttons
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    margin-top: 40px
    h6
        text-align: center !important
    .social-buttons-container
        display: flex
        flex-direction: row
        gap: 20px

@media only screen and (min-width: 768px)
    #contact-info-section
        width: 100%
        margin-top: 50px
        #contact-info-container
            max-width: 1300px
            height: 500px
            background-color: colors.$md-ref-palette-neutral-variant-95 !important
            margin: 0px
            padding: 0px
            #contact-info-desktop
                display: flex
                flex-direction: column
                justify-content: center
                padding: 40px
                padding-top: 90px
                .contact-info-content
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-content: stretch
                    align-items: flex-start
                    gap: 60px
                /* .social-buttons
                    display: flex
                    flex-direction: column
                    align-items: center
                    width: 100%
                    margin-top: 80px !important
                    margin-bottom: 0px !important
                    .social-buttons-container
                        display: flex
                        flex-direction: row
                        gap: 40px */
    
    .social-buttons
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        .social-buttons-container
            display: flex
            flex-direction: column
            gap: 20px
            padding-top: 5px