@use "../../utils/_mixins"

.social-container-contact
    @include mixins.flex-row-justifycenter
    .social-content-contact
        display: inline-flex
        width: min-content
        direction: row
        margin-bottom: 40px