@use "../utils/_colors"

@mixin flex-column-aligncenter
    display: flex
    flex-direction: column
    align-items: center

@mixin flex-column-alignstart
    display: flex
    flex-direction: column
    align-items: start

@mixin flex-row-alignend
    display: flex
    flex-direction: row
    align-items: end

@mixin footer-text-style
    font-size: 1.14rem
    color: colors.$md-sys-color-inverse-on-surface
