@use "../utils/_colors"

nav
    background-color: colors.$md-sys-color-primary
    a
        color: colors.$md-sys-color-on-primary !important
    .navbar-toggler
        color: colors.$md-sys-color-on-primary !important
    .navbar-collapse
        .navbar-nav
            line-height: 2rem
            padding-top: 10px
            color: colors.$md-ref-palette-primary-90 !important

@media only screen and (min-width: 992px)
    .navbar-collapse
        .navbar-nav
            line-height: inherit !important
            padding-top: 0px !important