@use "../utils/_colors"

nav
    background-color: colors.$md-sys-color-primary
    a
        color: colors.$md-sys-color-on-primary !important
    .navbar-toggler
        color: colors.$md-sys-color-on-primary !important