@use "../utils/_colors"

#pricing-card
    max-width: 40rem
    background-color: colors.$md-sys-color-primary-container
    .header
        margin-left: 1.5rem
    h5
        color: colors.$md-sys-color-on-primary-container
    .card-body
        padding: 1.2rem 1.5rem
        .card-text
            display: flex
            flex-direction: row
            flex-wrap: wrap
            gap: 1rem
            margin-left: 0.6rem
            span
                background-color: colors.$md-sys-color-tertiary
                padding: 0.5rem
                color: colors.$md-sys-color-on-tertiary
    