@use "../utils/_theme"
@use "../utils/_mixins"
    
.social-button 
    @include mixins.flex-row-aligncenter
    gap: 5px
    a
        background-color: theme.$md-sys-color-primary
        &:hover
            background-color: theme.$md-sys-color-primary-container
        i
            color: theme.$md-sys-color-on-primary
            &:hover
                color: theme.$md-sys-color-on-primary-container