@use "../utils/_colors"
    
.social-button 
    display: flex
    flex-direction: row
    button
        background-color: colors.$md-sys-color-tertiary-container
        i
            color: colors.$md-sys-color-on-tertiary-container