@use "../utils/_mixins.sass" 
@use "../utils/_colors"

.trust-item
    @include mixins.flex-column-alignstart
    gap: 24px
    margin-bottom: 30px
    padding: 1.2rem
    background-color: colors.$md-sys-color-primary-container

    .trust-item-header
        @include mixins.flex-row-alignend
        gap: 17px
    img
        width:50px
    span.lead
        font-size: 1.15rem