@use "../../utils/_mixins.sass"

#intro-section
    padding-bottom: 60px
    .section-wrapper
        max-width: 600px
        .row
            .col
                @include mixins.flex-column-aligncenter 
                gap: 30px
                margin-bottom: 51px

@media only screen and (min-width: 576px) 
    #intro-section
        padding-bottom: 60px
        .section-wrapper
            max-width: 600px
            .row
                .col
                    @include mixins.flex-column-aligncenter 
                    gap: 50px
                    margin-bottom: 71px
