@use "../../utils/_colors"

#promotions-card
    max-width: 90vw
    background-color: colors.$md-sys-color-primary-container
    padding: 1% 5% 5% 5%
    .header
        margin-left: 1.5rem
        margin-bottom: 40px !important
    h2
        color: colors.$md-sys-color-on-primary-container
        text-align: left !important
    h4
        color: colors.$md-sys-color-on-surface-light !important
    .card-body
        .card-text
            display: flex
            flex-direction: row
            flex-wrap: wrap
            gap: 1rem
            span
                background-color: colors.$md-sys-color-tertiary
                padding: 0.5rem
                color: colors.$md-sys-color-on-tertiary
                font-size: 0.8rem
    