@use "../../utils/_colors"
@use "../../utils/_theme"


#contact-form
    max-width: 800px
    padding: 40px 0px 30px !important
    background-color: theme.$md-sys-color-surface-container
    //color: colors.$md-sys-color-inverse-on-surface 
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus
        //-webkit-text-fill-color: colors.$md-sys-color-inverse-on-surface !important
        // -webkit-box-shadow: 0 0 0px 0px colors.$md-sys-color-inverse-on-surface inset !important
        // -webkit-transition: none  !important
        // transition: none  !important
        background-color: #332D2D !important
        //-webkit-text-fill-color: colors.$md-sys-color-inverse-on-surface !important
        -webkit-box-shadow: 0 0 0 1000px theme.$md-sys-color-surface-container-lowest inset
        border-radius: 10px !important
        transition: background-color 5000s ease-in-out 0s
    .form-outline
        .form-control:focus~
            .form-notch
                .form-notch-leading
                    border-top: .165rem solid colors.$md-sys-color-tertiary !important
                    border-bottom: .165rem solid colors.$md-sys-color-tertiary !important
                    border-left: .165rem solid colors.$md-sys-color-tertiary !important
                    box-shadow: none !important
    .form-outline
        .form-control:focus~
            .form-notch
                .form-notch-trailing
                    border-top: .165rem solid colors.$md-sys-color-tertiary !important
                    border-right: .165rem solid colors.$md-sys-color-tertiary !important
                    border-bottom: .165rem solid colors.$md-sys-color-tertiary !important
                    box-shadow: none !important
    .form-outline
        .form-control:focus~
            .form-notch
                .form-notch-middle
                    border-top: 0
                    border-bottom: .165rem solid colors.$md-sys-color-tertiary !important
                    box-shadow: none !important
    .form-outline
        .form-control
            position: relative
            z-index: 99
        .form-control~
            .form-notch
                .form-notch-leading
                    background-color: theme.$md-sys-color-surface-container-highest
                    border-radius: 10px 0 0 10px
    .form-outline
        .form-control~
            .form-notch
                .form-notch-trailing
                    background-color: theme.$md-sys-color-surface-container-highest
                    border-radius: 0 10px 10px 0
    .form-outline
        .form-control~
            .form-notch 
                .form-notch-middle       
                    background-color: theme.$md-sys-color-surface-container-highest
    label
        color: theme.$md-sys-color-on-surface-variant !important
        z-index: 99
    input:-webkit-autofill:not(:focus) + label
        transform: translateY(-1rem) translateY(0.1rem) scale(0.8)
    input:-webkit-autofill:not(:focus) ~ .form-notch
        .form-notch-middle 
            border-top: 0
            box-shadow: none !important