@use "../../utils/_theme"

.contact-info-item
    display: flex
    flex-direction: column
    align-items: center
    gap: 10px
    i
        color: theme.$md-sys-color-tertiary
    .contact-details-container
        display: flex
        flex-direction: column
        align-items: center
        .contact-details
            margin-top: -5px
            text-align: center !important
    .contact-info-email    
        width: 180px
        word-wrap: break-word !important

#contact-location-desktop
    display: flex
    flex-direction: column
    align-items: center !important


@media only screen and (min-width: 768px)
    #contact-info-email
        text-align: left !important

    .contact-info-item
        display: flex
        flex-direction: row
        gap: 25px
        align-items: flex-start
        .contact-details-container
            display: flex
            flex-direction: column
            align-items: flex-start
            margin-top: -10px
            .contact-details
                margin-top: -5px
                text-align: left !important
        .contact-info-email    
            width: 180px
            word-wrap: break-word !important

    #contact-location-desktop
        display: flex
        flex-direction: row
        justify-content: start
        gap: 25px
        //margin-top: -10px
        #location-desktop-details
            div
                &:first-of-type
                    margin-top: -5px
