.secondary-container-background{
    background-color: var(--md-ref-palette-neutral-80);
}
.secondary-container-bg{
    background-color: var(--md-sys-color-secondary-container-light);
}
.primary-container-bg{
    background-color: var(--md-sys-color-primary-container-light);
}

.text-color-on-secondary{
    color: var(--md-sys-color-on-secondary-container-dark);
}

.container-padding{
    padding: 20px;
}

.y-padding{
    padding-top: 30px;
    padding-bottom: 30px;
}

.x-padding{
    padding-left: 30px;
    padding-right: 30px;
}

.mt20{
    margin-top: 20px;
}


.container1 img{
    width:40px;
}

section{
    /*padding:.5rem;*/
    /*min-height: 200px;*/
}


.list-unstyled{
  list-style: square url(/img/baseline_circle_white_24dp.png);
  list-style-position: inside;
}

.list-unstyled li{
    border: none;
}

.section-padding-top{
    padding-top: 60px;
}
#section1{
    padding-top: 80px;
    padding-bottom: 50px;
}

#section2 {
    display: inline-flexbox;
    orientation: horizontal;
}
/*
#cocina1_carousel, #cocina2_carousel, #cocina3_carousel{
    width: 400px;
    height: 300px;
}
*/
h4{
    margin-left: 7px;
}

.carousel.slide{
    /* width: 400px; 
    height: 300px;
    */
}

@media (min-width: 540px) {
    /*
    section{
        min-height: 260px;
    }
    */
}

@media (min-width: 540px) {
    section{
        min-height: 260px;
    }
}

@media (min-width: 576px) {
    section{
        min-height: 320px;
    }
}

@media (min-width: 720px) {
    section{
        min-height: 350px;
    }

    #cocina1_carousel, #cocina2_carousel, #cocina3_carousel{
        width: 550px;
        height: 412.50px;
    }
    .wrapper{
        margin: 0px auto;
    }
}